ion-view title="title" hide-back-button="true" left-buttons="tapLeftButton" right-buttons="tapRightButton"
  ion-content has-header="true" has-footer="true" id="TopCtrl"
    h1 TopPage
    p Hello world!


